/* Universal CSS */

* {
  text-align: center;
  color: white;
}

body {
  margin: 0px 10px;
  background-color: rgb(127,127,127);
}

p {
  font-size: 14px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

h2 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.welcome-title {
	position: absolute;
	top: 10px;
	left: 40px;
	width: calc(100% - 64px);
	height: 30px;
	border: solid 2px black;
	background-color: #161616;
	box-shadow: inset 0px 0px 10px 2px #000;
}

.welcome-title > div {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	transform: translateY(-50%);
	font-size: 24px;
}
