/* Universal CSS */
body {
  background-color: rgb(190,190,190);
}

h1 {
  color: rgb(200, 90, 80);
  margin-left: 20px;
  font-family: 'Comic Sans MS', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Trinket screen CSS */
#trinket-screen-background {
  background-color: rgb(170,170,170);
  border: solid black 1px;
  block-size: 750px;
}

#trinket-spawn-box {
  background-color: rgb(150,150,150);
  border:solid black 1px;
  width: 800px;
  height: 625px;
  position:relative;
  left:10px;
  top:10px;
}

#trinket-info-box {
  background-color: rgb(220,220,220);
  border:solid black 1px;
  width: 800px;
  height: 50px;
  position:relative;
  left:10px;
  top:20px;
}
