/* Universal CSS */

* {
  text-align: center;
  color: white;
}

body {
  margin: 0px;
  background-color: rgb(127,127,127);
}

p {
  font-size: 14px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

h2 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* Left Column for trinket manual collection */

.left-column {
  width: 20%;
  height: 100%;
  background-color: rgb(255, 0, 0, 0.2);
  position: fixed;
}

.trinket-counter-container {
  position: relative;
  top:10%;
  left:50%;
  height: 10%;
  width: 100%;
  transform:translate(-50%, -50%);
  background-color: rgb(50, 50, 50, 0.2);
  border: 2px solid rgb(30, 30, 30, 1);
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 1vw;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-shadow:1px 0px 0px #000,-1px 0px 0px #000,0px 1px 0px #000,0px -1px 0px #000,0px 1px 4px #000;
}

.big-trinket {
  position: relative;
  top: 20%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0, 0);
  overflow: hidden;
}

.big-trinket img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#big-trinket-text {
  font-size: 0.75vw;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-shadow:1px 0px 0px #000,-1px 0px 0px #000,0px 1px 0px #000,0px -1px 0px #000,0px 1px 4px #000;
  font-weight: bold;
}

#trinket-button {
  background-color: rgb(0, 0, 225, 0);
  cursor: pointer;
  border: 2px rgb(255, 0, 0, 0);
}

#trinket-button:active {
  transform: scale(0.95);
}

.level-counter-container {
  position: relative;
  top:25%;
  left:50%;
  height: 10%;
  width: 100%;
  transform:translate(-50%, -50%);
  background-color: rgb(50, 50, 50, 0.2);
  border: 2px solid rgb(30, 30, 30, 1);
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 1.5vw;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-shadow:1px 0px 0px #000,-1px 0px 0px #000,0px 1px 0px #000,0px -1px 0px #000,0px 1px 4px #000;
}

/* Middle column */

.middle-column {
  width: 60%;
  height: 100%;
  background-color: rgb(0, 0, 255, 0.2);
  position: absolute;
  margin-left: 20%;
}

.trinket-upgrade-container {
  width: 90%;
  height: 20%;
  margin: 5%;
  background-color: rgb(255, 192, 0, 1);
}

.mg-upgrade-container {
  width: 90%;
  height: 20%;
  margin: 5%;
  background-color: rgb(255, 192, 0, 1);
}

.gb-upgrade-container {
  width: 90%;
  height: 20%;
  margin: 5%;
  background-color: rgb(255, 192, 0, 1);
}

.welcome-text-container {
  position: relative;
  top: 90%;
  left: 50%;
  width: 400px;
  height: 125px;
  background-color: rgb(255, 0, 0, 0);
  transform: translate(-50%, -50%);
}

.welcome-text-title {
  width: 390px;
  height: 30px;
  background-color: rgb(0, 255, 0, 0);
  position: absolute;
  font-size: 1.1vw;
  align-content: center;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-shadow:1px 0px 0px #000,-1px 0px 0px #000,0px 1px 0px #000,0px -1px 0px #000,0px 1px 4px #000;
}

.welcome-text-body {
  width: 390px;
  height: 80px;
  background-color: rgb(0, 0, 225, 0);
  position: absolute;
  top: 25px;
  font-size: 0.6vw;
  align-content: center;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  text-shadow:1px 0px 0px #000,-1px 0px 0px #000,0px 1px 0px #000,0px -1px 0px #000,0px 1px 4px #000;
}

/* Right column */
.right-column {
  width: 20%;
  height: 100%;
  background-color: rgb(0, 255, 0, 0.2);
  position: absolute;
  margin-left: 80%;
}
